spring:
  application:
    name: "eurekaserver"

  config:
    import: "optional:configserver:http://localhost:8071/"

# Add management endpoint exposure Enable/Refresh API
management:
  endpoints:
    web:
      exposure:
        include: "*"
  # readiness and liveness probe configurations
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
    endpoint:
      health:
        probes:
          enabled: true
